tsip-icd/src/main/resources/META-INF/wsdl/EventReceiverTSIP4TAPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://saicmotor.com/mce550/tsgp/tsip/msg/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://saicmotor.com/mce550/tsgp/tsip/msg/v1"
             name="EventReceiverTSIP4TAPService">
    <documentation>
        EventReceiverTSIP4TAPService: Service provided by TSIP for receiving the event message from TAP.
        Roles: Provider = TSIP, Consumer = TAP.
    </documentation>
    <types>
        <xs:schema xmlns:tns="http://saicmotor.com/mce550/tsgp/tsip/msg/v1"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
                   xmlns:cmm="http://saicmotor.com/mce550/tsgp/tsip/common/v1"
                   targetNamespace="http://saicmotor.com/mce550/tsgp/tsip/msg/v1">
            <xs:import namespace="http://saicmotor.com/mce550/tsgp/tsip/common/v1" schemaLocation="CommonModel.xsd"/>
            <xs:element name="sendDataRequest" type="tns:SendDataRequest"/>
            <xs:element name="sendDataResponse" type="tns:SendDataResponse"/>
            
            <xs:complexType name="SendDataRequest">
                <xs:sequence>
                    <xs:element name="eventMessage" type="cmm:EventMessage"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SendDataResponse">
                <xs:sequence>
                    <xs:element name="result" type="cmm:EventMessage"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </types>
    <message name="SendDataRequest">
        <part name="parameters" element="tns:sendDataRequest"/>
    </message>
    <message name="SendDataResponse">
        <part name="parameters" element="tns:sendDataResponse"/>
    </message>

    <portType name="EventReceiverTSIP4TAP">
        <operation name="sendDataTSIP">
            <input message="tns:SendDataRequest"/>
            <output message="tns:SendDataResponse"/>
        </operation>
    </portType>
    <binding name="EventReceiverTSIP4TAPPortBinding" type="tns:EventReceiverTSIP4TAP">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="sendDataTSIP">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="EventReceiverTSIP4TAPService">
        <port name="EventReceiverTSIP4TAPPort" binding="tns:EventReceiverTSIP4TAPPortBinding">
            <soap:address location="http://localhost:9080/tsip/services/EventReceiverTSIP"/>
        </port>
    </service>
</definitions>